.wellcome {
  height: 50%;
}

div {
margin:0px;
}

html{scroll-behavior: smooth;}

div.box {background-color:#FFD2D7;
margin:10px;
display:inline-block;
padding:10px;
}


body, html {
    margin: 0;
    height:100%;
}

a {
margin:0px;
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: relative;
z-index: 100;
}
/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    float: left;
    margin-right: 1px;z-index: 100;
}

/*Style for menu links*/
li a {
    background-color: #FFD2D7;
    color: #E2768A;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    margin:0px;
    display: block;z-index: 100;
}

/*Hover state for top level links*/
li:hover a {
    background-color: #FF33D4; color:white;
}

/*Style for dropdown links*/
li:hover ul a {
    background-color: #E2768A; color:#FFD2D7;height: 40px;
    line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
    background-color: #FF33D4; color:white;
}

/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}

/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 10px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}


.show-menu { 
    text-decoration: none;
    color: white;
    background: #FFD2D7;
    text-align: center;
    padding: 0px 0px;
    display: none;
}

@media screen and (max-width : 700px){
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display:none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    .show-menu {
        display: block;
    }
}


/*Hide checkbox*/
input[type=checkbox]{
    display: none;
    -webkit-appearance: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}




*, *:before, *:after {
  box-sizing: inherit;
}

.column {
display:inline-block;
  margin-bottom: 16px;
  padding: 0 8px;
}

.cuatro {  width: 400px;}
.dos {width:600px}
.wide_column {width:700px}
.tres {width:300px}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}










.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("back1.jpg");
  min-height: 400px;
}

.bgimg-2 {
  background-image: url("back2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("back3.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 2px;
  font-size: 25px;
  letter-spacing: 10px;
}


h1, h2, h3, h4 {color:black}








